image:
  # Match your client version!
  repository: registry.atlab.stanford.edu/op-test
  tag: "latest"
  pullPolicy: Always 

head:
  enableInTreeAutoscaling: true
  autoscalerOptions:
    upscalingMode: Default
    idleTimeoutSeconds: 60
  resources:
    requests:
      cpu: "1"
      memory: "2Gi"
    limits:
      cpu: "1"
      memory: "8Gi"

  volumes:
    - name: lab-storage
      hostPath:
        path: /mnt/lab
        type: Directory
    - name: enigma-videos
      hostPath:
        path: /mnt/enigma-videos
        type: Directory

  volumeMounts:
    - name: lab-storage
      mountPath: /lab
    - name: enigma-videos
      mountPath: /enigma-videos

worker:
  replicas: 5
  minReplicas: 5
  maxReplicas: 10
  resources:
    requests:
      cpu: 1
      memory: "4Gi"
    limits:
      cpu: 1
      memory: "10Gi"

  volumes:
    - name: lab-storage
      hostPath:
        path: /mnt/lab
        type: Directory
    - name: enigma-videos
      hostPath:
        path: /mnt/enigma-videos
        type: Directory

  volumeMounts:
    - name: lab-storage
      mountPath: /lab
    - name: enigma-videos
      mountPath: /enigma-videos

    # affinity:
    #   nodeAffinity:
    #     requiredDuringSchedulingIgnoredDuringExecution:
    #       nodeSelectorTerms:
    #       - matchExpressions:
    #         - key: kubernetes.io/hostname
    #           operator: In
    #           values:
    #           - at-gpu1
    #           - at-gpu2
    #           - at-gpu3
    #           - at-gpu4
    #           - at-gpu5
    #           - at-gpu6
    #           - at-gpu7
    #           - at-gpu8
    #           - at-gpu9
    #           - at-gpu10
    #           - at-gpu11
