alloy:
  # Add the init container for inotify tuning
  configMap:
    content: |
      logging {
        level  = "info"
        format = "logfmt"
      }
      
      discovery.kubernetes "pods" {
        role = "pod"
      }

      loki.source.kubernetes "pods" {
        targets    = discovery.kubernetes.pods.targets
        forward_to = [loki.write.default.receiver]
      }
      
      loki.write "default" {
        endpoint {
          url = "http://loki.loki.svc.cluster.local:3100/loki/api/v1/push"
          headers = {
            "X-Scope-OrgID" = "1",
          }
        }
      }

  # # The following was an attempt to exclude nodes from running Alloy, but it seems to not work 
  # affinity:
  # nodeAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     nodeSelectorTerms:
  #     - matchExpressions:
  #       - key: kubernetes.io/hostname
  #         operator: NotIn
  #         values:
  #         - at-gpu12
  #         - at-mlflow
  #         - poirot

controller:
  initContainers:
  - name: inotify-init
    image: busybox:1.33
    command:
    - sh
    - -c
    - |
      echo "Setting inotify limits for Alloy..."
      sysctl -w fs.inotify.max_user_instances=512
      echo "Inotify limits set successfully"
    securityContext:
      privileged: true
      runAsUser: 0