image:
  # Match your client version!
  repository: registry.atlab.stanford.edu/op-test
  tag: "latest"
  pullPolicy: Always 

head:
  enableInTreeAutoscaling: true
  autoscalerOptions:
    upscalingMode: Default
    idleTimeoutSeconds: 60
  rayStartParams:
    num-cpus: "0" # designed to prevent jobs from running on head node
  resources:
    requests:
      cpu: "1"
      memory: "2Gi"
    limits:
      cpu: "4"
      memory: "8Gi"

  volumes:
    - name: lab-storage
      hostPath:
        path: /mnt/lab
        type: Directory
    - name: enigma-videos
      hostPath:
        path: /mnt/enigma-videos
        type: Directory
    - name: ephys3
      hostPath:
        path: /mnt/scratch14
        type: Directory
    - name: devenv-barnold
      hostPath:
        path: /mnt/devenv/barnold/homedir
        type: Directory

  volumeMounts:
    - name: lab-storage
      mountPath: /lab
    - name: enigma-videos
      mountPath: /enigma-videos
    - name: ephys3
      mountPath: /ephys3
    - name: devenv-barnold
      mountPath: /home/barnold

worker:
  replicas: 0
  minReplicas: 0
  maxReplicas: 5
  resources:
    requests:
      nvidia.com/gpu: 1
      cpu: 15
      memory: "4Gi"
    limits:
      nvidia.com/gpu: 1
      cpu: 15
      memory: "150Gi"

  volumes:
    - name: lab-storage
      hostPath:
        path: /mnt/lab
        type: Directory
    - name: enigma-videos
      hostPath:
        path: /mnt/enigma-videos
        type: Directory
    - name: ephys3
      hostPath:
        path: /mnt/scratch14
        type: Directory
    - name: devenv-barnold
      hostPath:
        path: /mnt/devenv/barnold/homedir
        type: Directory

  volumeMounts:
    - name: lab-storage
      mountPath: /lab
    - name: enigma-videos
      mountPath: /enigma-videos
    - name: ephys3
      mountPath: /ephys3
    - name: devenv-barnold
      mountPath: /home/barnold

    # affinity:
    #   nodeAffinity:
    #     requiredDuringSchedulingIgnoredDuringExecution:
    #       nodeSelectorTerms:
    #       - matchExpressions:
    #         - key: kubernetes.io/hostname
    #           operator: In
    #           values:
    #           - at-gpu1
    #           - at-gpu2
    #           - at-gpu3
    #           - at-gpu4
    #           - at-gpu5
    #           - at-gpu6
    #           - at-gpu7
    #           - at-gpu8
    #           - at-gpu9
    #           - at-gpu10
    #           - at-gpu11
